
#sumsk {
    position: absolute;
    width: 100%;
    height: 282px;
    z-index: 9999;
    display: none;
    color: rgba(0, 0, 0, 0.66);
    text-align: center;
    line-height: 279px;
    box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px rgba(255, 255, 255, 0.57);
}

#nameal, #passal {
    margin: 0 37px;
    color: rgba(68, 68, 68, 0.78);
    display: none;
}

#nameal {
    margin-top: 13px;
    margin-bottom: 1px;
}

#name, #lastname, #email, #username, #pass, #signupbut, #loginbut {
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

#logint:hover {
    text-decoration: underline;
}

#logint {
    color: rgba(66, 134, 237, 0.78);
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    margin: -4px 37px;
    font-size: 14px;
}

#username, #name, #lastname, #email, #gamename, #hostId, #controls, #mapsize {
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 8px;
    margin: 34px auto;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid silver;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    color: #838383;
    width: 409px;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    direction: ltr;
    height: 44px;
    font-size: 16px;
    text-align: left;
}

#pass {
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 8px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid silver;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    color: #838383;
    width: 409px;
    display: block;
    margin: 34px auto 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    direction: ltr;
    height: 44px;
    font-size: 16px;
    text-align: left;
}

#name:hover,#pass:hover, #username:hover, #lastname:hover, #email:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

#login, #signup {
    margin: 0px;
    padding: 3px 0px 9px;
    color: whitesmoke;
    font-size: 45px;
    text-align: center;
    font-weight: normal;
    background: #76ABDB;
    border: 1px solid #76ABDA;
}

#signupbut {
    display: inline-block;
    line-height: 23px;
    padding: 0 8px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #f37676;
    border: 1px solid #E78282;
    font-weight: normal;
    margin: 10px 0 0 0;
    color: #fff;
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 17px;
    width: 103px;
    height: 30px;
    outline: none;
    cursor: pointer;
}

#loginbut {
    display: inline-block;
    line-height: 23px;
    padding: 0 8px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #f37676;
    border: 1px solid #E78282;
    font-weight: normal;
    margin: 10px 0 0 0;
    color: #fff;
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 17px;
    width: 103px;
    height: 35px;
    outline: none;
    cursor: pointer;
}

#scoresbut, #mygamesbut, #playbut, #but4 {
    display: block;
    line-height: 23px;
    padding: 5px 18px 5px 18px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: darkseagreen;
    border: 1px solid white;
    font-weight: 100;
    color: #fff;
    position: relative;
    width: 300px;
    height: 50px;
    outline: none;
    cursor: pointer;
    margin: 35px auto 10px;
    box-sizing: border-box;
    font-size: 24px;
}

#userbox {
    position: absolute;
    width: 480px;
    height: 324px;
    background: white;
    top: 50%;
    margin-top: -174px;
    left: 50%;
    margin-left: -240px;
    box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.45);
}

#menubox {
    position: absolute;
    width: 480px;
    height: 540px;
    background: white;
    top: 30%;
    margin-top: -174px;
    left: 50%;
    margin-left: -240px;
    box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.45);
}

#startgamebox {
    position: absolute;
    width: 480px;
    height: 300px;
    background: white;
    top: 30%;
    margin-top: -174px;
    left: 50%;
    margin-left: -240px;
    box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.45);
}

#logmsk {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("http://i.imgur.com/0oE0vDD.jpg");
    background-size: 20%;
    box-shadow: inset 0 0 376px rgba(0, 0, 0, 0.22);
    z-index: 9999;
    display: none;
}

body {
    width: 100%;
    height: 100%;
    min-width: 300px;
    min-height: 500px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
    background: #fff;
    color: #333;
}

body,input,select,td,textarea {
    font-family: "Open Sans",sans-serif;
}

#idfield {
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 8px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid silver;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    color: #838383;
    width: 150px;
    display: block;
    z-index: 1;
    position: absolute;
    bottom: 78px;
    left: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    direction: ltr;
    height: 30px;
    font-size: 12px;
    text-align: left;
}

#joingamebut {
    display: inline-block;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #f1c40f;
    border: 1px solid #f1f1f1;
    font-weight: normal;
    color: #fff;
    position: absolute;
    bottom: 78px;
    left: 200px;
    font-size: 15px;
    width: 120px;
    height: 30px;
    outline: none;
    cursor: pointer;
}

#deletegame {
    display: inline-block;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #f1c40f;
    border: 1px solid #f1f1f1;
    font-weight: normal;
    color: #fff;
    position: absolute;
    bottom: 78px;
    left: 200px;
    font-size: 15px;
    width: 120px;
    height: 30px;
    outline: none;
    cursor: pointer;
}

#creategame, #startgamebut {
    display: inline-block;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: darkseagreen;
    border: 1px solid #f1f1f1;
    font-weight: normal;
    color: #fff;
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 15px;
    width: 145px;
    height: 40px;
    outline: none;
    cursor: pointer;
}

#createnewgame {
    display: inline-block;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #f1c40f;
    border: 1px solid #f1f1f1;
    font-weight: normal;
    color: #fff;
    position: absolute;
    bottom: 78px;
    right: 20px;
    font-size: 15px;
    width: 120px;
    height: 30px;
    outline: none;
    cursor: pointer;
}

#table-scroll {
    position: relative;
    height: 340px;
    overflow: auto;

}

#table, #table2 {
    margin: 10px auto;
    widht: 100%;
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
#table th, #table2 th {
    border-width: 1px;
    padding: 2px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
#table td, #table2 td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

#gamesbottom {
    position: fixed;
    width: 480px;
    height: 125px;
}

#menubuttons {
    margin: 25% 0%;
    text-align: center;
}


